article {
    margin-right: 16px;
    padding: 8px;
    border: 1px solid #ccc;

    .green {
        outline: none;
        background-color: greenyellow;
        border-radius: 4px;
        padding: 8px;
        border: none;
    }
    .red{
        background-color: red;
        outline: none;
        border: none;
        padding: 8px;
        border-radius: 4px;
    }
    .blue{
        background-color: blueviolet;
        outline: none;
        border: none;
        padding: 8px;
        border-radius: 4px;
    }
}